:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem;
}

p {
  text-align: center;
}

.manageRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.buttonManager {
  display: flex;
  gap: 30px;
}

.table {
  font-size: 12px;
  margin: 0 auto;
}

.tableHead {
  display: flex;
}

.tableHead div {
  width: 100px;
  border: 1px solid white;
  padding: 0.2rem 0.5rem;
  background-color: purple;
}

.tableRow {
  display: flex;
}

.inputTable {
  font-size: inherit;
  width: 100px;
  padding: 0.2rem 0.5rem;
  border: 1px solid white;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  border: none;
  background: purple;
  border-radius: 20px;
  cursor: pointer;
}

.arrow {
  text-align: right;
  margin-top: -35px;
}
